body {
  font-family: 'Inconsolata', monospace;
}

.navbar-fixed{
  z-index: 1000;
}

.container {
  max-width: 900px;
}

.personal-row-title {
  margin: 0px;
}

.personal-row-date {
  color: #C1C1C1;
  font-size: 1.3rem;
  margin: 0px;
}

.personal-title-index {
  color: #616161;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 4rem;
}

.personal-title-post {
  color: #515151;
  font-size: 2.1rem;
  font-weight: bold;
  margin-top: 4rem;
}

.personal-subtitle-post {
  color: #515151;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 3rem;
}

.personal-content-post {
  color: #515151;
  font-size: 1.3rem
}

.personal-text-color {
  color: #616161;
}

.personal-nav {
  background-color: transparent;
}

.nav-title-name {
  border-bottom: 1px solid;
  border-bottom-color: #C1C1C1;
  color: #616161;
  font-size: 1.8rem;
  margin-top: -53px;
  padding: 0;
  padding-bottom: 0.9rem;
  text-align: center;
  width: 100%;
}
